@model Aeropost.Models.Paquete

@{
    ViewData["Title"] = "Cancelar paquete";
}

<h1>Cancelar paquete</h1>

<h3>¿Está seguro que desea cancelar este paquete?</h3>
<div>
    <h4>Paquete</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

        <dt class="col-sm-3">Peso (lb)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Peso)</dd>

        <dt class="col-sm-3">Valor Total Bruto</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ValorTotalBruto)</dd>

        <dt class="col-sm-3">Tienda de Origen</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.TiendaOrigen)</dd>

        <dt class="col-sm-3">Condición Especial</dt>
        <dd class="col-sm-9">@(Model.CondicionEspecial ? "Sí" : "No")</dd>

        <dt class="col-sm-3">Fecha de Registro</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaRegistro)</dd>

        <dt class="col-sm-3">Cliente Asociado (Cédula)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ClienteAsociado)</dd>

        <dt class="col-sm-3">Número de Tracking</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.NumeroTracking)</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-danger">Sí, cancelar paquete</button>
            <a asp-action="Index" class="btn btn-secondary">No, volver al listado</a>
        </div>
    </form>
</div>
