@model Universidad.Models.Carrera

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estás seguro que quieres borrar esta carrera?</h3>
<div>
    <h4>Carrera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facultad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facultad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCarrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCarrera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sede)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Sí, borrar</button>
        <a asp-action="Index" class="btn btn-secondary">No, volver</a>
    </form>
</div>
